:root {
    --light: #f3f6f9;
    --primary: #0d6efd;
    --primary-hover: blue;
    --black: #000000;
    --white: #fff;
}

.bg-log {
    background-color: var(--white);
}

.icon {
    position: absolute;
    right: 30px;
}

.button {
    background-color: var(--primary);
}

.button:hover {
    background-color: blue;
    color: var(--white);
}

.form-control:focus {
    box-shadow: 0 0 0 .2rem var(--primary);
}

@media (min-width: 1920px) {
    .h-custom-2 {
        height: 100%;
    }

    .bg-log {
        width: 30%;
    }

    .width-xxl {
        width: 70%;
    }
}